/* 自定义编辑页面样式 */

/* 充满整个界面 */
html,
body,
#create-form {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

/* 表单样式 */
#create-form {
    display: flex;
    flex-direction: row;
}

/* 左侧菜单栏样式 */
#menu-bar {
    background-color: #282c34;
    display: flex;
    width: 4%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.menu-btn {
    background-color: #282c34;
    border: 0px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    transition: background-color 0.5s ease;
}

.menu-btn:hover {
    background-color: #ffc83d;
}

.svg {
    fill: aliceblue;
    height: inherit;
    width: inherit;
}

/* 左侧编辑&右侧预览样式 */
#editor,
#preview {
    width: 48%;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

#editor {
    background-color: #282c34;
    color: aliceblue;
    resize: none;
}

#preview {
    background-color: #282c34;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 中部可拖拽分隔栏样式 */
.drag-bar {
    width: 5px;
    height: 100%;
    cursor: col-resize;
    background-color: #ccc;
}

/* 滑动导航栏-设置界面样式 */
.settings-page {
    background-color: #282c34;
    color: aliceblue;
}


/* 设置滚动条样式 */
::-webkit-scrollbar {
    width: 12px;
    height: 16px;
    background-color: #282c34;
}

/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #282c34;
}

/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #161b22;
}

/* 吐司消息容器样式 */
.toast-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
}